Percent encoding of filter values

I just wanted to confirm that the filter builder does **not** do any sort of encoding on the output string. I'm not seeing any when looking through the source, but just want to verify.

According to OData:

http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part2-url-conventions/odata-v4.0-errata03-os-part2-url-conventions-complete.html#_Toc453752335

> Note also that the rules in [OData-ABNF] assume that URIs and URI parts have been percent-encoding normalized as described in section 6.2.2.2 of [RFC3986] before applying the grammar to them, i.e. all characters in the unreserved set (see rule unreserved in  [OData-ABNF]) are plain literals and not percent-encoded.

Question is, should we add an option to perform the encoding or not?

Thanks!

Hi @jgornick .
There is no encoding logic in `toString` method of filter builder.
The thing is that `odata-filter-builder` generate only `$filter` part, and the user has to create another odata url params by himself. And serialize/encode all params before query. It's more related to the transport part.

Mb some http library could should do it. What Do You think? Don't lib like [axios](https://github.com/axios/axios) encode params before sending requrest?




Code from exios:
https://github.com/axios/axios/blob/v0.18.0/lib/helpers/buildURL.js#L49-L54

It encodes params while building url

I agree 100% that the encoding should happen outside of the filter builder. 

It might be nice in the future to highlight in documentation somewhere that there is no encoding done on this filter string. But, probably self explanatory.

Thank you!